@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
/* font-style */
.inter-font{
  font-family: "Inter", sans-serif;
  color: white;
  width: 90%;
  margin: 0 auto;

  
}
.span-font{
  font-family: "Style Script", cursive;
  font-style: italic;
}
.bg-color{
  background-color: black;
}
*{
  margin: 0;
  padding: 0;
}
.header-contant{
  
  border: 1px solid red;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* nav style  */
.nav-contant{
display: flex;
justify-content: space-between;
}
.nav-fitness{
  margin-top: 1rem;
}
.span-one{


  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800; 
  margin-left: 10rem;

}

.nav-li-contant{
  list-style: none;
  display: flex;
  margin-right: 10rem;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 10px;
  
}
.nav-li-contant a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1rem; 
 
}
/* banner section */
.banner-section{
  display: flex;
  justify-content: space-between;
}
.banner-section-contain{
  
  margin-left: 10rem;
  margin-top: 20px;
}

.banner-section-contain-text{
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  
}
.banner-section-contain-text-formet{
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}

.banner-button{
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  margin-right: 1rem;
background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
}
.banner-downlad{
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: black;
  color:rgb(255, 255, 255)
  
  
}
.banner-section-pic img{
  margin-right: 15rem;
  margin-top: 1rem;
}
.banner-section-details{
  border: 1px solid red;
}
.secal{
width: 30px;
height: 30px;
border: 2px solid red ;
border-radius: 100%;
background-color: red;
}

/* change-habits */
.change-habits{
text-align: center;
margin-top: 5rem;
}
.change-habits h2{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
}
.change-habits p{
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}
.change-habits-picture{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 8rem;
  margin-top: 2rem;
  text-align: center;
  margin-right: 8rem;
  
}


.change-habits-picture img{
  border-radius: 100%;
}
.change-habits-picture h3{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.change-habits-picture p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

/* Run and extra section */
.run-extra-section{
  background: rgb(34, 34, 34);
  margin-right: 10rem;
  margin-left: 10rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 5rem;
  
}
.run-extra-section img{
width: 400px;
margin-top: 2rem;
margin-right: 4rem;
border-radius: 20px;
}
.run-extra-section-details{
  margin-top: 1rem;
  margin-left: 4rem;
  padding: 1rem;
}
.run-extra-section h2{
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;

}
.run-extra-section p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.run-extra-section h6{
  font-size: 18px;
font-weight: 600;
padding: 10px 30px 10px 30px;
color: rgb(255, 255, 255);

}
.extra-button{
  border-radius: 50px;
  border: none;
  margin-top: 2rem;
  background-color: rgb(230, 83, 60);
}




























@media screen and (max-width:576px) {
  .header-contant{
    display: none;
  }

.change-habits-picture{
  grid-template-columns: repeat(1, 1fr);
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.run-extra-section{
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}
.run-extra-section img{
width: 260px;
margin-right: 5px;
}
.run-extra-section-details{
  margin-top: 10px;
  margin-left: 1rem;
}



}